html {
  background-color: rgb(240, 240, 240);
}

button {
  margin-right: 6px;
}

.title-custom {
  text-align: center;
}

.card-custom {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
}

.cardcontent-custom {
  padding: 12px;
}

.cardsubt-custom {
  margin-top: 10px;
}

#title {
  font-size: x-large;
  font-weight: bold;
  transform: scaleY(1.3);
}

#txt-m {
  font-size: smaller;
}

#txt-s {
  font-size: x-small;
}

#img-s {
  width: 180px;
}

#img-l {
  width: 300px;
}