html {
  background-color: rgb(240, 240, 240);
}

button {
  margin-right: 6px;
}

.title-custom {
  text-align: center;
}

.card-custom {
  border-radius: 17px;
  width: 180px;
  height: 415px;
}

.cardsubt-custom {
  margin-top: 8px;
}

.card-custombody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
  padding: 5px 13px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  /* margin-top: 20px; */
  align-items: center;
  /* display:block; */
  /* width:100%; */
  /* height:40px; */
}

.heart {
  cursor: "pointer";
  color:hsl(348, 100%, 77%)
}

.heart:hover {
  color:hsl(348, 100%, 61%);
  transform: scale(1.5);
  content: "Add to Favourites";
}

.trash {
  cursor: "pointer";
  color:gray;
}

.trash:hover {
  color:black;
  transform: scale(1.5);
  content: "Remove from Favourites";
}

.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.single-custom {
  margin-top: 10px
}

.form-custom {
  margin-top: 30px
}

.image-404 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: x-large;
  font-weight: bold;
  transform: scaleY(1.3);
}

#txt-m {
  font-size: smaller;
}

#txt-s {
  font-size: x-small;
}

#img-s {
  width: 180px;
}

#img-l {
  width: 300px;
}

